<script id="bill-totals" type="text/template">
	<? var total = bill.getTotal(); var totalPaid = bill.getTotalPaid() ?>
	<tr class="bill-total"><td></td><td class="label"><?= __("Total") ?>:</td><td class="total"><?= total ?></td></tr>
	<? if (totalPaid > 0) { ?>
		<tr class="payment-total"><td></td><td class="label"><?= __("Paid") ?>:</td><td class="total"><?= totalPaid ?></td></tr>
	<? } ?>
	<? if (totalPaid < total) { ?>
		<tr class="due-total"><td></td><td class="label"><?= __("Amount Due") ?>:</td><td class="total"><?= total - totalPaid ?></td></tr>
	<? } else if (totalPaid > total) { ?>
		<tr class="change-total"><td></td><td class="label"><?= __("Change Due") ?>:</td><td class="total"><?= totalPaid - total ?></td></tr>		
	<? } ?>
</script>