<script id="patient-details-template" type="text/template">
	<b class="boxHeader"><?= __("Patient Details") ?></b>
	<div class="box">
		<table class="form">
			<tbody>
				<tr>
					<th><?= __("Name") ?>: </th><td><a href="<?= dashboardUri ?>" target="_blank" title="Open patient dashboard"><?= patient.get('person').display ?></a></td>
					<th><?= __("ID") ?>: </th><td><?= patient.get('identifiers')[0].display ?></td>
					<? if (!readOnly) { ?>
						<td><a class="editBillPatient" href="#"><?= __("Change Patient") ?></a></td>
					<? } ?>
					<? if (visit && visit.get("startDatetime")) { ?>
						<th class="visit"><?= __("Active Visit") ?>: </th>
						<td><span class="visit">Started <?= dateFormat(new Date(visit.get("startDatetime")), true) ?> <button id="endVisit"><?= __("End Visit") ?></button><img class="spinner" src="<?= openhmis.config.openmrsUrlRoot ?>images/loading.gif" style="visibility: hidden;"/></span><span class="removeMsg" style="display: none"><?= __("Visit ended") ?></span></td>
					<? } ?>
				</tr>
			</tbody>
		</table>
	</div>
	<p></p>
</script>