/*Contains CSS used to style managecashPoints.gsp*/
.clickable-tr, .cashPoint-pagination span a {
	cursor:pointer;/*turns to a finger instead of pointer*/
}

.clickable-tr:hover {
	background-color: #dddddd;
}

.linkDisabled {
  cursor: not-allowed;
  pointer-events: none;
  color: grey;
}

a.disabled {
    color: #A2D0DB;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}

.paging-button {
	border: 0.5;
	height:20px;
	padding-top:1.4px;
}

.showing-summary-select {
	height:20px;
}

#below-cashPoints-table {
	font-size: 14px;
}

.h1-substitue-left {
	color: #00463f;
    clear: both;
    font-size: 1.5em;;
}

/*Supplements bootstrap.css*/
.searchinput {
    width: 625px;
}
.searchclear {
    position:absolute;
    right:5px;
    top:0;
    bottom:0;
    height:14px;
    margin:auto;
    font-size:24px;
    cursor:pointer;
    color:#ccc;
    margin-top:7px;
}

.checkRequired {
	color:red;
}

#current-cashPoint input.ng-invalid.ng-touched {
    border-color: red;
}

 #current-cashPoint input.ng-valid.ng-touched {
    border-color: #EBE9ED;
}

.successfulMessage {
	color:green;
}