/*Contains CSS used to style managecashPoints.gsp*/
.clickable-tr, .cashPoint-pagination span a {
	cursor:pointer;/*turns to a finger instead of pointer*/
}

.clickable-tr:hover {
	background-color: #dddddd;
}

.linkDisabled {
  cursor: not-allowed;
  pointer-events: none;
  color: grey;
}

a.disabled {
    color: #A2D0DB;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}

.paging-button {
	border: 0.5;
	height:20px;
	padding-top:1.4px;
}

.showing-summary-select {
	height:20px;
}

#below-cashPoints-table {
	font-size: 14px;
}

.h1-substitue-left {
	color: #00463f;
    clear: both;
    font-size: 1.5em;;
}

.checkRequired {
	color:red;
}

#current-cashPoint input.ng-invalid.ng-touched {
    border-color: red;
}

 #current-cashPoint input.ng-valid.ng-touched {
    border-color: #EBE9ED;
}

.successfulMessage {
	color:green;
}

.locations-select {
	height: 2.1em;
}

@media (min-width: 1200px) {
	.container {
		width: auto;
	}
}

ul.search-area{
    text-align: left;
}

ul.search-area li{
    display: inline-block;
    vertical-align: top;
    margin: 0px 2px;
}

.search-area{
    height: 27px;
}

ul.search-area-input{
    text-align: left;
}
table.manage-cashpoints-table th:first-child, td:first-child {
    width: 30%;
}

table.manage-cashpoints-table th:nth-child(2), td:nth-child(2) {
    width: 45%;
}

.not-found{
    margin-left:300px;
}
#attribute-types-dialog {
    width: 500px;
}
#dialog-bottom ul {
    margin-bottom: 0;
}
ul.dialog-table-layout li {
    width: 150px;
    margin: 0 0;
}
#attribute-types-dialog select option {
    font-size: 1.1em;
}
.timesheet legend{
        font-size:16px;
        width:150px;
        color: #00463f  ;
        text-transform: none;
        font-weight: bold;
}
