<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>OpenHMIS</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.CashierModuleActivator</activator>
	
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.CashierMenuItem</class>
	</extension>
	<extension>
		<point>org.openmrs.headerFullIncludeExt</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.CashierHeadIncludes</class>
	</extension>
	
	<!-- Privileges -->
	<privilege>
		<name>Add Bills</name>
		<description>Able to add a bill</description>
	</privilege>
	
	<privilege>
		<name>Edit Bills</name>
		<description>Able to edit bills</description>
	</privilege>
	
	<privilege>
		<name>Delete Bills</name>
		<description>Able to delete bills</description>
	</privilege>
	
	<privilege>
		<name>View Bills</name>
		<description>Able to view bills</description>
	</privilege>
	
	<!-- Maps hibernate files, if present -->
	<mappingFiles>

	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

