table.form td { padding-right: 10px; }
table.form td.end { padding-right: 0px; }
table.form tbody th { font-weight: normal; }

table.display { width: 100%; border-spacing: 0; }
th.item-quantity, th.item-price, th.item-total {
	width: 13%;
}
table.bill td input[type="text"] {
	width: 100%;
	border: 0;
	background-color: transparent;
}
table.bill td.item-actions { width: 20px; }
td.item-actions input { visibility: hidden; }


table.display tr.even.row_selected td, table.display tr.odd.row_selected td,
table.display tr.row_selected
{ background-color: #f0e68c !important; }
tr.row_selected td.item-actions input, tr:hover td.item-actions input
{ visibility: visible; }

table.bill td, table.bill th {
	padding: 0px 5px;
	border-right: 1px solid #aaa;
}
table.bill td.end, table.bill th.end { border-right: none; }

input.item-quantity, input.item-price, input.item-total {
	text-align: right;
}

form.bbf-form fieldset { border: none; }
form.bbf-form ul { padding: 0; }
li.bbf-field { list-style: none; }
li.bbf-field label { display: inline-block; width: 150px; }
li.bbf-field div.bbf-editor { display: inline-block; }

input.reason { width: 25em; }
.selectable { cursor: pointer; }