/* General styles */
h2 span.heading_annotation {
	font-size: 10pt;
	font-weight: normal;
}
div.clear { clear: both;}

ul.floating { list-style: none; margin: 0; padding: 0; }
ul.floating li {
	display: block;
	float: left;
}

/* General form styles */
/* Table styles */
table.form td { padding-right: 10px; }
table.form td.end { padding-right: 0px; }
table.form tbody th { font-weight: normal; }

/* List styles */
form.bbf-form fieldset { border: none; }
form.bbf-form ul { padding: 0; margin: 0; }
li.bbf-field, .bbf-list li { list-style: none; position: relative }
li.bbf-field label { }
li.bbf-field div.bbf-editor { position: relative; top: -1.3em; margin-left: 170px; }
div.bbf-help, div.bbf-error {
	position: absolute;
	display: none;
	top: 0;
	left: 350px;
	background-color: #c00;
	color: #fff;
	border-radius: 2px;
	padding: 2px 4px;
}
.bbf-field.bbf-error div.bbf-help,
.bbf-field.bbf-error div.bbf-error { display: block; }
.bbf-form.inline li.bbf-field { display: inline-block; margin-right: 20px; }
.bbf-form.inline li.bbf-field label { margin-right: .5em; }
.bbf-form.inline li.bbf-field label:after { content: ':'; }
.bbf-form.inline li.bbf-field div.bbf-editor { display: inline-block; top: auto; margin-left: auto; }

/* Generic Add/Edit */
input.reason { width: 25em; }
.selectable { cursor: pointer; }

/* List editor styles */
.bbf-list li { display: block; clear: both; height: 2em; padding-left: 1px; margin-left: -2em; }
.bbf-editor-container div div { margin-left: 2.5em; }
.bbf-list button.bbf-remove { float: left; width: 1.9em; margin-top: -2px; }
.bbf-list-modal { cursor: pointer; }
.bbf-actions { clear: both; }

.bbf-list .bbf-editor-container { margin-top: 3px; }
.bbf-list .ui-sortable .bbf-editor-container div div { margin-left: 4.5em; }
.bbf-list .ui-sortable button.bbf-remove { margin-top: 1px; }
.bbf-list ul.ui-sortable li {
	margin-bottom: 1px; border: 1px solid #bbb;
	cursor: move;
	background: #f9f9f9 url('../images/handle.png') 2.2em center no-repeat;
}

/* Item editor styles */
.editor .item-name { position: relative; z-index: 1; }

/* Input hint styles */
span.label-hint { position: relative; }
.label-hint label { position: absolute; bottom: 0px; left: 3px; font-style: italic; color: #999; cursor: text; z-index: 0; }

/* Generic data table styles */
table.display { width: 100%; border-spacing: 0; margin-bottom: 100px; }
table.display tr.even.row_selected td, table.display tr.odd.row_selected td,
table.display tr.row_selected
{ background-color: #f0e68c !important; }

td.item-actions input { visibility: hidden; }
tr.row_selected td.item-actions input, tr:hover td.item-actions input
{ visibility: visible; }

div.paging-container { margin-top: .5em; }

/* Bill styles */
ul#bill-info { font-size: 10pt; }
ul#bill-info li { margin: 0 3em 10px 0; }

table.bill th.field-quantity, table.bill th.field-price, table.bill th.field-total {
	width: 13%;
}
table.bill td input[type="text"], table.bill td input[type="number"] {
	width: 100%;
	background-color: transparent;
}

table.bill td input, table.bill td select {
	border: 1px solid transparent;
	background-color: transparent;
}

table.bill td, table.bill th {
	padding: 0px 5px;
	border-right: 1px solid #aaa;
}
table.bill td.end, table.bill th.end { border-right: none; }

td.numeric, td.numeric input {
	text-align: right;
}
table.bill .field-item .editor .department-name { width: 31%; }
table.bill .field-item .editor .item-name { width: 66%; }

table.totals { width: 100%; }
table.totals td.total { width: 13%; text-align: right; }
table.totals td.label { width: 13%; }
table.totals td.label, table.totals td.total { padding: 3px 7px 3px 10px; font-weight: bold; }

/* Exception for form style */
li.bbf-field.field-cashPoint div.bbf-editor { margin-left: 7em; }


div.box, div.combineBoxes { margin-bottom: 1em; }
.combineBoxes div.box { margin-bottom: 0; }

#paymentList { font-size: inherit; }
#paymentList b.boxHeader, #paymentList div.box { width: auto; }
.paymentList .field-amountFmt, .paymentList .field-amountTenderedFmt,
.paymentList .field-paymentMode { width: 13%; }

input.search { width: 250px; }

/** Validation **/
div.validation {
	position: absolute;
	top: -1.7em;
	background-color: #b00;
	color: #fff;
	padding: 2px 4px;
	z-index: 10;
}