/* General form styles */
/* Table styles */
table.form td { padding-right: 10px; }
table.form td.end { padding-right: 0px; }
table.form tbody th { font-weight: normal; }

/* List styles */
form.bbf-form fieldset { border: none; }
form.bbf-form ul { padding: 0; }
li.bbf-field, .bbf-list li { list-style: none; }
li.bbf-field label { }
li.bbf-field div.bbf-editor { position: relative; top: -1.3em; margin-left: 150px; }

/* Generic Add/Edit */
input.reason { width: 25em; }
.selectable { cursor: pointer; }

/* List editor styles */
.bbf-list li { display: block; clear: both; height: 2em; margin-left: -2em; }
.bbf-list button.bbf-remove { float: left; width: 2em; margin-top: -.2em; margin-right: 10px; }
.bbf-list-modal { cursor: pointer; }
.bbf-actions { clear: both; }

/* Input hint styles */
span.label-hint { position: relative; }
.label-hint label { position: absolute; bottom: 0px; font-style: italic; color: #999; cursor: text; }

/* Generic data table styles */
table.display { width: 100%; border-spacing: 0; }
table.display tr.even.row_selected td, table.display tr.odd.row_selected td,
table.display tr.row_selected
{ background-color: #f0e68c !important; }

td.item-actions input { visibility: hidden; }
tr.row_selected td.item-actions input, tr:hover td.item-actions input
{ visibility: visible; }

/* Bill table styles */
table.bill th.field-quantity, table.bill th.field-price, table.bill th.field-total {
	width: 13%;
}
table.bill td input[type="text"], table.bill td input[type="number"] {
	width: 100%;
	border: 0;
	background-color: transparent;
}

table.bill td, table.bill th {
	padding: 0px 5px;
	border-right: 1px solid #aaa;
}
table.bill td.end, table.bill th.end { border-right: none; }

table.bill .field-quantity input, table.bill .field-price input, table.bill .field-total input {
	text-align: right;
}
table.bill .field-item .editor .department-name { width: 31%; }
table.bill .field-item .editor .item-name { width: 66%; }
